/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo e estrutura principal */
body {
  font-family: Arial, sans-serif;
  background-color: #141414;
  color: #fff;
}

main {
  margin: auto;
  max-width: 800px;
}

h1 {
  color: #e50914;
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:visited {
  color: #e50914;
}

.cabecario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #141414;
  border-bottom: 2px solid #e50914;
  height: 93px;
}

.cabecario__lista {
  list-style: none;
  display: flex;
  gap: 20px;
}

.cabecario__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.cabecario__link:hover {
  color: white;
}


/* Seção principal de busca de filmes */
.filme {
  padding-top: 50px;
  text-align: center;
}

.container__titulo {
  font-size: 36px;
  margin-bottom: 30px;
}

.container__busca {
  margin: auto;
  max-width: 600px;
  margin-bottom: 30px;
  display: inline-block;
  margin-bottom: 30px;
}

hr {
  margin: auto;
  width: 80%;
}

.date {
  font-size: 12px !important;
  color: red;
  margin-top: 10px;
}

.summary {
  margin: auto;
  max-width: 600px;
  margin-bottom: 30px;
  margin-top: 30px;

  word-break: break-all;
  text-align: center;
}

.moviesfound {
  max-width: 600px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.lasttitles{
  margin-top: 30px;
  color: white;
}

#listmovies {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 30px;
  list-style-type: none;
}

.logoButton {
  text-decoration: none;
}

.info {
  padding: 10px;
  font-size: 18px;
  width: 300px;
  border: 1px solid #333;
  border-radius: 5px;
}

.botao {
  background-color: #e50914;
  color: #fff;
  padding: 12px 20px;
  margin-left: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botao:hover {
  background-color: #f40612;
}

.btnMovie {
  color: #f40612;
  font-size: 1.2rem;
  padding: 8px;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

.btnMovie:hover {
    color: white;

}

#divbox {
  display: flex;
  max-width: 800px;
  margin: auto;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

#closebutton {
  position: absolute;
  left: 68%;
  top: 28%;

  background-color: red; 
  color: white;
  border: 2px solid red; 
  border-radius: 50%; 
  width: 30px; 
  height: 30px; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  font-size: 16px;
  font-weight: bold; 
  cursor: pointer; 
  transition: background-color 0.3s, border-color 0.3s; 
}

#closebutton:hover {
  background-color: white; 
  color: red; 
  border-color: white; 
}

#divdescription {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}


.overlaystyle {
  color: white; 
  font-family: Arial, sans-serif; 
  padding: 20px; 
  text-align: center;

  background-color: rgba(0, 0, 0, 0.8); /* Fundo preto com 80% de opacidade */
  border: 1px solid red;
  border-radius: 10px; /* Borda arredondada para um efeito mais suave */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra para destacar o overlay */
}


.overlaystyle h2 {
  font-size: 24px; 
  margin: 0 0 10px; 
  font-weight: bold; 
}


.overlaystyle p {
  font-size: 16px; 
  margin: 10px 0; 
}


.overlaystyle p:last-of-type {
  font-size: 18px;
  font-weight: bold; 
  color: yellow; 
}

/* Resultados da busca */
.resultado {
  margin-top: 20px;
}

.resultado p {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Rodapé */
.rodape {
  background-color: #141414;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none; /* Evita interferência no hover */
}

/* Estilo aplicado quando o overlay está visível */
.overlay.visible {
  opacity: 1;
  pointer-events: auto;
  
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}

.rodape__texto {
  color: #737373;
}

.movietitle {
  width: 100%;
  margin: 20px;
}

.movietitle h3 {
  font-size: 3rem;
}

.vistos {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 24px;
}